<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Espaço Estética Léa Machado</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/../public/styles/index.css">
</head>
<body>
  <header>
    <div class="header">
      <h1>Espaço Estética Léa Machado</h2>
      <ul>
        <li><a href="#">Sobre</a>  </li>
        <li><a href="#">Serviços</a>  </li>
        <li><a href="#">Contato</a>  </li>
      </ul>
    </div>
    <hr>
  </header>
  <main>
    <section>
      <div class="main-content">
        <div class="card">  
          <h3>Já tem cadastro?</h3>
          <h5>Digite seus dados para entrar</h5>
          <div class="form-box">
            <form action="/" method="POST">
              <input type="text" placeholder="E-mail" id="email" name="email" required>
              <input type="password" placeholder="Password" id="password" name="password" required>
              <button type="submit" value="login">Login</button>
            </form>
          </div>
          <p>Ainda não tem login?<a href="/register">Cadastre</a></p>
        </div>
      </div>
    </section>
  </main>
</body>
</html>















