<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Register</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/../public/styles/index.css"/>
</head>
<body>
  <header>
    <div class="header">
      <h1>Espaço Estética Léa Machado</h2>
      <ul>
        <li><a href="#">Sobre</a>  </li>
        <li><a href="#">Serviços</a>  </li>
        <li><a href="#">Contato</a>  </li>
      </ul>
    </div>
    <hr>
  </header>
  <main>
    <section>
      <div class="main-content">
        <div class="card">  
          <h3>Preencha o formulário</h3>
          <div class="form-box">
            <form action="/" method="POST">
              <input type="text" placeholder="Nome" >
              <input type="text" placeholder="E-mail" >
              <input type="password" placeholder="Senha" >
              <input type="password" placeholder="Confirme a senha" >
              <button type="submit">Finalizar</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>