*{
  font-family: 'Open Sans', sans-serif;
}

body{
  background-image: url('../../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  text-decoration: none;
  display: block;
  color: white;
}

.card{
  background-color: hsla(0, 100%, 70%, 0.3);
  border-radius: 2px;
  width: 40%;
  height: 600px;
  margin: 0px 30px;
  box-sizing: border-box;
}

.card h3,h5{
  color: white;
  text-align: center;
  margin: 40px 0px 0px 0px;
}

.form-box{
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  box-sizing: border-box;
}

.form-box input{
  width: 250px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #ccc;
  margin-top: 40px;
  align-self: center;
}

.form-box button{
  width: 80px;
  height: 25px;
  margin-top: 30px;
  background-color: blueviolet;
  color: white;
  border-radius: 3px;
  outline: none;
}

.form-box button:hover{
  background-color: lightpink;
  transition:0.3s;
}

.form-box a:hover{
  color: indigo;
}

h1{
  color: white;
  margin: 0;
  font-family: 'Lobster', cursive;
}

.header{
  width: 100%;
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header h3{
  text-align: center;
  color: white;
}

.header ul{
  display: flex;
  margin-right: 15px;
}

.header ul li{
  margin-right: 10px;
  background-color: blueviolet;
  padding: 10px;
  display: block;
}

.header ul li:hover{
  background-color: lightpink;
  transition: 0.3s;
}

.header ul li a:hover{
  color: 	indigo;
}

.header img{
  height: 100px;
  width: 120px;
}

.header li,a{
  list-style: none;
  color: white;
  text-decoration: none;
}